LetzGST/Service References/letzGST_Service/SNService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://letzgst.com/SNService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" />
  <xs:import schemaLocation="http://letzgst.com/SNService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" />
  <xs:import schemaLocation="http://letzgst.com/SNService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest.GST1" />
  <xs:import schemaLocation="http://letzgst.com/SNService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse.GST1" />
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqCustomerUpdate" nillable="true" type="q1:ReqCustomerUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q2:ResId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrsPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUpdateBrsPayment" nillable="true" type="q3:ReqBrsPaymentList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrsPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateBrsPaymentResult" nillable="true" type="q4:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqDebitNote" nillable="true" type="q5:ReqDebitNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateDebitResult" nillable="true" type="q6:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q7:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteDebitResult" nillable="true" type="q8:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q9:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetDebitResult" nillable="true" type="q10:ResDebitNoteGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q11:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebitDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetDebitDetailResult" nillable="true" type="q12:ResDebitNoteGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q13:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedDebitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetLastInsertedDebitResult" nillable="true" type="q14:ResLastInsertedCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqDebitNote" nillable="true" type="q15:ReqDebitNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDebitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertDebitResult" nillable="true" type="q16:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUpdateLogo" nillable="true" type="q17:ReqUpdateLogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateLogoResult" nillable="true" type="q18:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqEmail" nillable="true" type="q19:ReqEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="SendMailCustomResult" nillable="true" type="q20:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetB2BGst1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest.GST1" minOccurs="0" name="reqGst1" nillable="true" type="q21:ReqGst1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetB2BGst1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse.GST1" minOccurs="0" name="GetB2BGst1Result" nillable="true" type="q22:ResGst1List" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetB2CLGst1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest.GST1" minOccurs="0" name="reqGst1" nillable="true" type="q23:ReqGst1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetB2CLGst1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse.GST1" minOccurs="0" name="GetB2CLGst1Result" nillable="true" type="q24:ResGst1List" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetB2CSGst1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest.GST1" minOccurs="0" name="reqGst1" nillable="true" type="q25:ReqGst1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetB2CSGst1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse.GST1" minOccurs="0" name="GetB2CSGst1Result" nillable="true" type="q26:ResGst1List" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGstr1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest.GST1" minOccurs="0" name="reqGst1" nillable="true" type="q27:ReqGst1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGstr1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse.GST1" minOccurs="0" name="GetGstr1Result" nillable="true" type="q28:Gst1Save" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqRegistration" nillable="true" type="q29:ReqRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="RegistrationResult" nillable="true" type="q30:ResRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqLogin" nillable="true" type="q31:ReqLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="LoginResult" nillable="true" type="q32:ResLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUpdatePassword" nillable="true" type="q33:ReqUpdatePassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdatePasswordResult" nillable="true" type="q34:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqOtp" nillable="true" type="q35:ReqOtp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="SendOtpResult" nillable="true" type="q36:ResOtp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqValidateOtp" nillable="true" type="q37:ReqOtpValidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="ValidateOtpResult" nillable="true" type="q38:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqProfile" nillable="true" type="q39:ReqProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertProfileResult" nillable="true" type="q40:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqProfile" nillable="true" type="q41:ReqProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateProfileResult" nillable="true" type="q42:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q43:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetProfileResult" nillable="true" type="q44:ResProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUserCACompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqListUserCACompany" nillable="true" type="q45:ReqListUserCACompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUserCACompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetListUserCACompanyResult" nillable="true" type="q46:ResUserListCACompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCACompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqParentId" nillable="true" type="q47:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCACompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetListCACompanyResult" nillable="true" type="q48:ResCompanyListCA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserHSNCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqInsertUserHsn" nillable="true" type="q49:ReqInsertUserHsn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserHSNCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertUserHSNCodeResult" nillable="true" type="q50:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HsnDetailSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqHsnCode" nillable="true" type="q51:ReqHsnCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HsnDetailSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="HsnDetailSearchResult" nillable="true" type="q52:ResListHsnCodeGoods" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHsnDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserHsnDetail" nillable="true" type="q53:ReqUserHsnDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHsnDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UserHsnDetailResult" nillable="true" type="q54:ResListHsnCodeGoods" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserHsn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserHsn" nillable="true" type="q55:ReqUserHsn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserHsnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteUserHsnResult" nillable="true" type="q56:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q57:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteUserResult" nillable="true" type="q58:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUpdateUser" nillable="true" type="q59:ReqUpdateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateUserResult" nillable="true" type="q60:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHsnHscCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q61:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHsnHscCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetUserHsnHscCodeResult" nillable="true" type="q62:ResUserHsnHscCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqVendor" nillable="true" type="q63:ReqVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertVendorResult" nillable="true" type="q64:ResId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqVendorUpdate" nillable="true" type="q65:ReqVendorUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateVendorResult" nillable="true" type="q66:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqVendorId" nillable="true" type="q67:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteVendorResult" nillable="true" type="q68:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q69:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetVendorListResult" nillable="true" type="q70:ResVendorList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqVendorId" nillable="true" type="q71:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetVendorDetailResult" nillable="true" type="q72:ResVendorDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqCustomerId" nillable="true" type="q73:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetCustomerDetailResult" nillable="true" type="q74:ResCustomerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqInsertExpense" nillable="true" type="q75:ReqInsertExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertExpenseResult" nillable="true" type="q76:ResId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q77:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetExpenseResult" nillable="true" type="q78:ResGetExpenseList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqPurchase" nillable="true" type="q79:ReqPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertPurchaseResult" nillable="true" type="q80:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedPoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q81:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedPoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetLastInsertedPoIdResult" nillable="true" type="q82:ResPoCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUpdatePurchase" nillable="true" type="q83:ReqPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdatePurchaseResult" nillable="true" type="q84:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q85:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="GetPurchaseListResult" nillable="true" type="q86:ReqPurchaseList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q87:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetPurchaseDetailResult" nillable="true" type="q88:ResPurchase_PurchaseItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="resPurchase_PurchaseItemList" nillable="true" type="q89:ResPurchase_PurchaseItemList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="BulkInsertPurchaseResult" nillable="true" type="q90:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetAllUserResult" nillable="true" type="q91:ResAllUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBillId" nillable="true" type="q92:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteBillResult" nillable="true" type="q93:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillPaymentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBillId" nillable="true" type="q94:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillPaymentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetBillPaymentDetailResult" nillable="true" type="q95:ResBillPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="resBillPayment" nillable="true" type="q96:ResBillPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="UpdateBillPaymentResult" nillable="true" type="q97:ReqBillPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBill" nillable="true" type="q98:ReqBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertBillResult" nillable="true" type="q99:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBill" nillable="true" type="q100:ReqBill_BillItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="BulkInsertBillResult" nillable="true" type="q101:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertRecurringBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBill" nillable="true" type="q102:ReqBill_BillItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertRecurringBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="BulkInsertRecurringBillResult" nillable="true" type="q103:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedBillNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q104:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedBillNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetLastInsertedBillNoResult" nillable="true" type="q105:ResBillCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBillList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q106:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBillListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="GetUserBillListResult" nillable="true" type="q107:ResBillList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFutureBillList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q108:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFutureBillListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="GetUserFutureBillListResult" nillable="true" type="q109:ResBillList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBill" nillable="true" type="q110:ReqBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateBillResult" nillable="true" type="q111:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q112:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="GetBillDetailResult" nillable="true" type="q113:ReqBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q114:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetUserItemListResult" nillable="true" type="q115:ResUserItemsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqInsertUserItems" nillable="true" type="q116:ReqInsertUserItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertUserItemResult" nillable="true" type="q117:ResId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTdsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q118:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTdsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetTdsListResult" nillable="true" type="q119:ResTdsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqVendorList" nillable="true" type="q120:ReqVendorList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="BulkInsertVendorResult" nillable="true" type="q121:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q122:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetPaymentTermResult" nillable="true" type="q123:ResGetPaymentTermList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaymentTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqPaymentTerm" nillable="true" type="q124:ReqPaymentTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaymentTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertPaymentTermResult" nillable="true" type="q125:ResId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashBoardContentInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqDashBoardContentTax" nillable="true" type="q126:ReqDashBoardContentTax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashBoardContentInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetDashBoardContentInvoiceResult" nillable="true" type="q127:ResDashBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashBoardContentExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqDashBoardContentTax" nillable="true" type="q128:ReqDashBoardContentTax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashBoardContentExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetDashBoardContentExpenseResult" nillable="true" type="q129:ResDashBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedAdvance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q130:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedAdvanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetLastInsertedAdvanceResult" nillable="true" type="q131:ResLastInsertedCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q132:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetLastInsertedCreditResult" nillable="true" type="q133:ResLastInsertedCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q134:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetLastInsertedInvoiceResult" nillable="true" type="q135:ResLastInsertedCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q136:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeletePurchaseResult" nillable="true" type="q137:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdvance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqAdvance" nillable="true" type="q138:ReqAdvance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdvanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertAdvanceResult" nillable="true" type="q139:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqCreditNote" nillable="true" type="q140:ReqCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertCreditResult" nillable="true" type="q141:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqInvoice" nillable="true" type="q142:ReqInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertInvoiceResult" nillable="true" type="q143:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdvance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqAdvance" nillable="true" type="q144:ReqAdvance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdvanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateAdvanceResult" nillable="true" type="q145:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqCreditNote" nillable="true" type="q146:ReqCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateCreditResult" nillable="true" type="q147:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqInvoice" nillable="true" type="q148:ReqInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateInvoiceResult" nillable="true" type="q149:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAdvance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q150:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAdvanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteAdvanceResult" nillable="true" type="q151:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q152:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteCreditResult" nillable="true" type="q153:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q154:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteInvoiceResult" nillable="true" type="q155:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q156:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetAdvanceResult" nillable="true" type="q157:ResAdvanceGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q158:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetCreditResult" nillable="true" type="q159:ResCreditNoteGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q160:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetInvoiceResult" nillable="true" type="q161:ResInvoiceGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvanceDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q162:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvanceDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetAdvanceDetailResult" nillable="true" type="q163:ResAdvanceGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q164:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetCreditDetailResult" nillable="true" type="q165:ResCreditNoteGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q166:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetInvoiceDetailResult" nillable="true" type="q167:ResInvoiceGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBrs" nillable="true" type="q168:ReqBrs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetBrsListResult" nillable="true" type="q169:ResBrsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBrsPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqBrsPayment" nillable="true" type="q170:ReqBrsPaymentList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBrsPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertBrsPaymentResult" nillable="true" type="q171:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrsPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqGetBrsPayment" nillable="true" type="q172:ReqGetBrsPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrsPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="GetBrsPaymentResult" nillable="true" type="q173:ReqBrsPaymentList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q174:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetInvoiceRefResult" nillable="true" type="q175:ResrefIdList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q176:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetBillRefResult" nillable="true" type="q177:ResrefIdList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqReport" nillable="true" type="q178:ReqReports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetReportListResult" nillable="true" type="q179:ResReportsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedEstimate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q180:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInsertedEstimateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetLastInsertedEstimateResult" nillable="true" type="q181:ResLastInsertedCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEstimate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqEstimate" nillable="true" type="q182:ReqEstimate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEstimateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertEstimateResult" nillable="true" type="q183:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstimate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqEstimate" nillable="true" type="q184:ReqEstimate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstimateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="UpdateEstimateResult" nillable="true" type="q185:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEstimate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q186:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEstimateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteEstimateResult" nillable="true" type="q187:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstimate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q188:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstimateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetEstimateResult" nillable="true" type="q189:ResEstimateGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstimateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqId" nillable="true" type="q190:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstimateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetEstimateDetailResult" nillable="true" type="q191:ResEstimateGetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqCustomer" nillable="true" type="q192:ReqCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="InsertCustomerResult" nillable="true" type="q193:ResId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqCustomerId" nillable="true" type="q194:ReqId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="DeleteCustomerResult" nillable="true" type="q195:ResCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/SoftonautsService.CRequest" minOccurs="0" name="reqUserId" nillable="true" type="q196:ReqUserId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" minOccurs="0" name="GetCustomerListResult" nillable="true" type="q197:ResCustomerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>