LetzGST/Service References/letzGST_Service/SNService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftonautsService.CResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResRegistration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResCommon">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParentId" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResRegistration" nillable="true" type="tns:ResRegistration" />
  <xs:complexType name="ResCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResCommon" nillable="true" type="tns:ResCommon" />
  <xs:complexType name="ResLogin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResCommon">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserRoleAuth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResLogin" nillable="true" type="tns:ResLogin" />
  <xs:complexType name="ResOtp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResCommon">
        <xs:sequence>
          <xs:element minOccurs="0" name="OtpId" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResOtp" nillable="true" type="tns:ResOtp" />
  <xs:complexType name="ResProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResCommon">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CinNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GstinNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LogoUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MembershipId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PanNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceTaxNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TanNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Vat_TinNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebsiteUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResProfile" nillable="true" type="tns:ResProfile" />
  <xs:complexType name="ResUserListCACompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="resUserCACompany" nillable="true" type="tns:ArrayOfResUserCACompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResUserListCACompany" nillable="true" type="tns:ResUserListCACompany" />
  <xs:complexType name="ArrayOfResUserCACompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResUserCACompany" nillable="true" type="tns:ResUserCACompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResUserCACompany" nillable="true" type="tns:ArrayOfResUserCACompany" />
  <xs:complexType name="ResUserCACompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResUserCACompany" nillable="true" type="tns:ResUserCACompany" />
  <xs:complexType name="ResCompanyListCA">
    <xs:sequence>
      <xs:element minOccurs="0" name="resCompany_CA" nillable="true" type="tns:ArrayOfResCompany_CA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResCompanyListCA" nillable="true" type="tns:ResCompanyListCA" />
  <xs:complexType name="ArrayOfResCompany_CA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResCompany_CA" nillable="true" type="tns:ResCompany_CA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResCompany_CA" nillable="true" type="tns:ArrayOfResCompany_CA" />
  <xs:complexType name="ResCompany_CA">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResCompany_CA" nillable="true" type="tns:ResCompany_CA" />
</xs:schema>